<a href="https://colab.research.google.com/github/Jaira21/DSA-58011/blob/main/Python_Array_Module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example 1

In [6]:
import array as arr
array.typecodes   #to use all the typecodes

a = array.array('i',[1,2,3,4,5,6,7,8,9,10]) #initialize the elements of a
b = array.array('f',[1.5,2.5,3.5,4.5,5.5,6.5,7.5,8.5,9.5,10.5]) #initializer the elements of b

print(a.typecode)
print(b.typecode)

i
f

Example 2 Create array elements of array name a to float/decimal numbers

In [7]:
a = arr.array('f',[1,2,3,4,5,6,7,8,9,10])
print(a)

array('f', [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0])

insert an element: 11 to the first index of the array x

In [10]:
a.insert(0,11)
print(a)

b.insert(-1,11)
print(b)

array('f', [11.0, 11.0, 11.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0])
array('f', [1.5, 2.5, 3.5, 4.5, 5.5, 6.5, 7.5, 8.5, 9.5, 11.0, 11.0, 10.5])

In [12]:
a = arr.array('i',[1,2,3,4,5,6,7,8,9,10])
print(a)
a.insert(10,-1)  #out of range
print(a)

array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -1])

##Linked Lists

In [22]:
class Node:
  def __init__(self,data):
    self.data = data
    self.next = None

class LinkedList:
  def __init__(self):
    self.head = None
  def printList(self):
    temp = self.head
    while(temp):
      print(temp.data)
      temp = temp.next


llist = LinkedList()

llist.head = Node(1)
second = Node(2)
third = Node(3)

llist.head.next = second
second.next = third

llist.printList()

1
2
3